/* RESET CSS */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


/* CUSTOM CSS */

header {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  position: absolute;
  top: 1rem;
}

/* body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

h1 {
  font-size: 48px;
}

.surveys {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding-top: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
}

.surveys button {
  font-family: "CG Paneuro Bold", Sans-serif;
  font-size: 20px;
  text-transform: capitalize;
  letter-spacing: 0px;
  color: #FFFFFF;
  background-color: #101820;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #FFFFFF;
  border-radius: 50px 50px 50px 50px;
  padding: 1rem 3rem 0.85rem;    
}

.surveys button:hover, .surveys button:focus {
  color: #101820;
  background-color: #ffffff;
  border-color: #101820;   
}
#frontOfficeModal, #schoolTourModal, #familyWithdrawalModal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 95%;
  height: 95%;
  padding: 5px;
  box-shadow: 0px 0px 12px 3px #F2F4F7;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.survey-close-btn {
  position: absolute;
  top: 1%;
  right: 4%;
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 2px 10px;
  border-radius: 10px;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
}
